.guestElement {
    height: 60%;
}

a {
    color: dodgerblue;
}

.fixed {
    height: 256px;
    width: 256px;
    background-image: url("../images/loader.gif");
    background-position: 50%;
    background-repeat: no-repeat;
}

.desc {
    font-size: 20px;
    margin: 0;
    text-align: left;
    overflow: auto;
    height: 250px
}

.regbg {
    background-color: #173547;
}

.events-container-main {
    padding-top: 10px;
}

.learn {
    position: fixed;
    z-index: 10;
    overflow: scroll;
    background-color: #000000;
    width:100%;
    // padding: 10px;   
    // overflow: auto;
    padding-bottom: 65px;
    bottom: 0;
    top: 65px;
}

.guestLec {
    margin: 0px;
}

#cloBut {
    margin: 10px;
}

.event-img {
    margin: auto;
    // max-width: 100%
}

.no_margin, .no_margin:hover {
    padding: 0;
    margin-left: 50px;
    background-color: transparent;
    right: 0px;
    font-size: 25px;
}

.lec-img {
    text-align: center;
}

.regisGuest {
    margin-top: 10px;
}

.nameBut {
    cursor: pointer;
}

.nameBut:hover {
    color: blue;
}

.noscroll {
    overflow: hidden;
}

.reg {
    background-color: #16bd5c
}