
body{
    background-color: #001111;
}

#particle-js {
	height: auto;
	width: 100%;
}

.init {
	position: fixed;
	margin-top: 70px;
	color: white;
}

.init a {
	color: orange;
}

h1 {
	position: fixed;
	margin-top: 70px;
	color: white;
}