html {
	background-color: #1f2833;
}

body{
    background-color: #1f2833;
    /*background-image: url("../images/background-comp.jpg");*/
    overflow: hidden;
}

#particle-js {
	height: auto;
	width: 100%;
}

.init {
	position: fixed;
	margin-top: 70px;
	color: #f4f1de;
	font-size: 20px;
	z-index: 1990;
}

.init a {
	color: #e07a5f;
}

#particles-js {
	height: 100%; 
	width: 100%; 
	position: absolute;
}

.comingsoon {
	position: fixed;
	margin-top: 30%;
	color: #f4f1de;
	text-align: center;
	width: 100%;
	color: #e07a5f;
	z-index: -3;
}

#User {
	text-align: right
}

p {
	color: #f4f1de;
	font-size: 20px;
	margin: 10px 10px 0px 0px;
}

p a {
	color: #f4f1de
}