@-webkit-keyframes zoomOut {
  from {
    opacity: 0;
  }

  50% {
  	opacity: 1;
  }

  55% {
    transform: scale(0.3, 0.3, 0.3);
    opacity: 0;
	}
}

.initial {
	animation: zoomOut 5s forwards;
}
