@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 1;
    ransform: scale3d(1, 1, 1)
  }

  75% {
  	opacity: 0;
  	/*transform: scale3d(.3, .3, .3);*/
  }

  to {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
    visibility: hidden;
  }
}

.initial img {
	animation: zoomOut 3s forwards;
	position: absolute;
	z-index: 2;
}

div.init {
	margin-top: 30%;
	position: absolute;
	font-size: 50px;
	color: orange;
}
