html
{
  background-color: #0a1119;
  font-size: 13pt;
}
body
{
  overflow: auto;
  background-color: #0a1119;
}
h2
{
  border-style: solid;
  border-color: #e07a5f;
  border-width: 2px 0 2px 0;
}
h2#descriptions
{
  width: 100%;
  text-align: left;
}
#description
{
  text-align: justify;
  width: 100%;

}
h2#prizess
{
  text-align: center;
  /*float: right;
  width: 50%;*/
}
#prizes
{
  text-align: center;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  /*
  float: right;
  position: relative;
  top: 50px;*/
}
input
{
  float: right;
}
.container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  button
  {
    background-color: #008CBA;
    border-radius: 0.5em;
    border: 0px;
    outline: 0px;
  }

  #eveList {
    display: none;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;

  }

  .show {
    display: inline;
    max-height: 35em;
  }
.mx-auto{
  margin-left:auto;
  margin-right: auto;
}

/* Events Category styling  */
#page-wrapper{
  padding-top:20px;
/*  height: 100%;*/
height: auto;
}

#page-wrapper .container-fluid{
  max-width:1180px;
}
#move .row .container{
  text-align: center;
  position: relative;
  padding: 0;
}
.description-block{
  max-width:1180px;
  width:93vw;
  height:fit-content;
  min-height:0;
  position: absolute;
  z-index:10;
  transition: height,min-height 0.4s ease-in-out;
}
.description-block.active{
  min-height: 500px;
  transition: min-height 0.4s ease-in-out;
  
}

#headTitle {
  text-align: center;
}

/* Events styling */
.event-container p{
  text-align: center;
}
.event-img{
  max-height:200px;
  width:auto;
}

#eveList {
  background-color: black;
}
