html
{
  background-color: #0a1119;
}
body
{
  overflow: auto;
  background-color: #0a1119;
}
h2
{
  border-style: solid;
  border-color: #e07a5f;
  border-width: 2px 0 2px 0;
}
h2#descriptions
{
  width: 100%;
  text-align: left;
}
#description
{
  text-align: justify;
  width: 100%;

}
h2#prizess
{
  text-align: left;
  /*float: right;
  width: 50%;*/
}
#prizes
{
  text-align: left;
  width: 280px;
  /*
  float: right;
  position: relative;
  top: 50px;*/
}
input
{
  float: right;
}
.container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  button
  {
    background-color: #008CBA;
  }

  #eveList {
    display: none;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    background-color: #0a1119;
    
  }

  .show {
    display: inline;
    max-height: 35em;
  }
  #title
  {
    text-align: left;
  }
#event-logos
  {
    /*background-color: rgb(255, 255, 255);*/
    height: 250px;
    width: 250px;
    margin: 25px 0 25px 0;

  }
#image
{
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: right;
    /*position: absolute;*/
}
#title
{
  position: absolute;
  top: 200px;
  margin: 0 0 0 200px;
  font-size: 50px;
}
.block1
{
  width: 100%;
  position: relative;
  height: 310px;
}
#probState
{
  float: right;
  margin: 20px 70px 20px 70px;
}
#prizesss
{
  width: 50%;
  height: 160px;
  float: left;
  position: relative;
}
.block2
{
  width: 50%;
  height: 160px;
  float: left;
}
button
{
  margin-left: 80px;
  float: right;
  margin-right: 120px;
}
#poc
{
  text-align: left;
  width: 50%;
  position: relative;

}