nav.foot{
    background: transparent;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
    /*box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);*/
    margin: auto;
    bottom: 0;
}

nav.w {
    background-color: black;
}

.foot .logo-section{
    
    float: left;
    margin: 0px;
    font-family: serif;
}

.foot .hb-button{
    float: right;
    background: black;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    margin: 16px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav.foot a{
    text-decoration: none;
    color: #282828;
    font-size: 20px;
    padding: 5px;
}

nav.foot ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

nav.foot ul li{

    display: inline-block;
    padding: 19px;
}

.foot li a{
    position: relative;
    color: #f4f1de;
    text-decoration: none;
    
}


.foot li a:hover{
    color: #fff;
}

.foot li a:after{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    /*visibility: hidden;*/
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.foot li a:hover:after{
    /*visibility: visible;*/
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

body{
    font-family: sans-serif;
    height: auto;

}


.foot a
{
    color: #004747;
}
/*div.image
{
    padding: 0 0 0 200px;
    background-color: black;
}*/
.foot img
{
    max-height: 200px;
    max-width: 300px;
    height: auto;
    width: auto;
    background-color: black;
    position: absolute;
    z-index: 100;
    padding: 200px 20px 20px 200px;
    border-radius: 200px;
    top: -210px;
    left: -220px;
}


@media screen and (max-width: 910px){
    .foot .logo-section{
        float: none;
    }

    .foot li a {
        
    }
    nav.foot ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
    }
    nav.foot ul.show{
        max-height: 25em;
        /*color: black;*/
    }
    .foot li a{
    color: black;
    
}


.foot li a:hover{
    color: black;
}

.foot li a:after{
    
    background-color: black;
    /*visibility: hidden;*/
    
}


    nav.foot ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .foot .hb-button{
        display: inline;
    }
}
