*{
    margin: 0;
    padding: 0;

}



/*nav.head {
    background: #86c232;
    overflow: hidden;
    width: 100%;
    box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    z-index: 1000;
}*/

nav.head {
    background: #86c232;
    /*overflow: hidden;*/
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    margin: auto;
    z-index: 1000;
}

.block
{
    width:100%;
    position: relative;
    height: 65px;
    background-color: #222629;
    z-index: -100;
}

.head .logo-section{
    
    float: left;
    margin: 0px 0 0px 0;
    font-family: serif;
    z-index: 1;

}

.head .hb-button{
    float: right;
    background: black;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    z-index: 2002;
    margin: 16px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav.head a{
    text-decoration: none;https://www.w3schools.com/css/css_padding.asp
    color: #282828;
    font-size: 18px;
    padding: 5px;
}

nav.head ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

nav.head ul li{
    float: right;
    display: inline-block;
    padding: 19px;
}

.head li a{
    position: relative;
    color: #000;
    text-decoration: none;
    font-family: arial;
}

.head li a:hover{
    color: #000;
}

.head li a:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    /*visibility: hidden;*/
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.head li a:hover:before{
    /*visibility: visible;*/
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

body{
    font-family: sans-serif;
    height: auto;
    /*overflow: hidden;*/
}


.head a
{
    color: #004747;
}
/*div.image
{
    padding: 0 0 0 200px;
    background-color: black;
}*/

header {
    position: fixed;
    width: 100%;
}

.logosmall {
    display: none;
}

.logosmall img {
    display: none;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    
    color: #fff;
}

.image img
{
    max-height: 200px;
    max-width: 300px;
    height: auto;
    width: auto;
    background-color: black;

    position: fixed;
    z-index: 2000;
    padding: 200px 20px 20px 200px;
    border-radius: 200px;
    top: -210px;
    left: -220px;
}


@media screen and (max-width: 1200px){
    .head {
        height: 65px
    }
    .head .logo-section{
        float: none;
        position: relative;
    }
    nav.head ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
        z-index: 3000
    }
    nav.head ul.show{
        max-height: max-content;
        z-index: 2002;
        /*position: relative;
        top: 65px;*/
        /*position: fixed;*/
    }
    nav.head ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        z-index: 2002
    }
    .head .hb-button{
        display: inline;
        position: fixed;
        z-index: 2005;
        top: 0px;
        right: 0px;
    }

    nav.head {
        text-align: center;
    }
}
.imageu
{
    height: 500px;
    width: 600px;
    background-color: black;
    position: fixed;
    top: -280px;
    left: -400px;
    z-index: 2001;
    border-radius: 0 0 200px 0;
}

.imageu img
{
    overflow: visible;
    background-color: black;
    position: relative;
    top: 270px;
    left: 380px;
    height: 210px;
    width: 210px;
    border-radius: 0 0 180px 0;
}

@media screen and (max-width: 555px)  {
    .image img {
        display: none;
    }
    .imageu
    {
        display: none;
    }
    .imageu img
    {
        display: none;
    } 

    .logosmall {
        display: inline;
        width: 100%;
        position: relative;
    }

    .logosmall img {
        display: inline;
        background-color: black;
    }

    nav.head {
        text-align: center;
        height: auto;
    }
    .head .logo-section
    {
        margin: 0;
        height: 100px;
    }
    .block
    {
        height: 110px;
    }
}
