*{
    margin: 0;
    padding: 0;

}

ul
{
    z-index: 1000;
}

/*nav.head {
    background: #86c232;
    overflow: hidden;
    width: 100%;
    box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    z-index: 1000;
}*/

nav.head {
    background: #66fcf1;
    /*overflow: hidden;*/
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: -2px -7px 47px 9px rgba(0, 0, 0, 0.35);
    margin: auto;
    z-index: 1000;
}

.block
{
    width:100%;
    position: relative;
    height: 65px;
    background-color: #222629;
    z-index: -100;
}


.head .logo-section{
    
    float: left;
    margin: 0px 0 0px 0;
    font-family: serif;
    z-index: 1;

}

.head .hb-button{
    float: right;
    background: black;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    z-index: 2002;
    margin: 16px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

nav.head a.underline{
    text-decoration: none;
    color: #1f2833;
    font-size: 18px;
    padding: 5px;
}
/*nav.head a.no-underline
{
    height: 0;
    width: 0;
}
*/
nav.head ul{
    overflow: hidden;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
}

nav.head ul li{
<<<<<<< HEAD
    display: inline-block;
=======
    float: right;
    display: block;
>>>>>>> a513bf68bb36ce1ad99a920c6f6687137182a3a0
    padding: 19px;
    box-sizing: content-box;
}
nav.head ul li.no-pad{
    display: inline-block;
    padding: 0px;
}
nav.head ul li.leftfloat{
    float: left;
    
}
nav.head ul li.rightfloat{
    float: right;
    
}
.head li a{
    position: relative;
    color: #1f2833;
    text-decoration: none;
    font-family: arial;
}

/*.head li a:hover{
    color: white;
}*/

.head li a.underline:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1f2833;
    /*visibility: hidden;*/
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.head li a.underline:hover:before{
    /*visibility: visible;*/
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

body{
    font-family: sans-serif;
    height: auto;
    /*overflow: hidden;*/
}
.home_logo
{
    width: 90px;
    height: 50px;
    padding: 4.5px;
    box-sizing: content-box;
}


.head a
{
    color: #004747;
}
/*div.image
{
    padding: 0 0 0 200px;
    background-color: black;
}*/

header {
    position: fixed;
    width: 100%;
}

.logosmall {
    display: none;
}

.logosmall img {
    display: none;
    width: 90px;
    height: 50px;
    padding: 4.5px;
    box-sizing: content-box;
    color: #fff;
}

/*.image img
{
    max-height: 200px;
    max-width: 300px;
    height: auto;
    width: auto;
    background-color: black;

    position: fixed;
    z-index: 2000;
    padding: 200px 20px 20px 200px;
    border-radius: 200px;
    top: -210px;
    left: -220px;
}*/


@media screen and (max-width: 1097px){
    .head {
        height: 65px
    }
    .head .logo-section{
        float: none;
        position: relative;
    }
    nav.head ul{
        background: #ffffff;
        max-height: 0;
        width: 100%;
        /*z-index: 3000*/
        z-index: 0;
        position: absolute;
        top: 0;
    }
    nav.head ul.show{
        max-height: 35em;
        
        
    }
    nav.head ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        z-index: 2002
    }
    .head .hb-button{
        display: inline;
        position: fixed;
        z-index: 2005;
        top: 0px;
        right: 0px;
    }

    nav.head {
        text-align: center;
    }
    .image
    {
        display: none;
    }
    .image img
    {
        display: none;
    } 

    .logosmall {
        display: inline;
        width: 100%;
        position: relative;
    }

    .logosmall img {
        display: inline;
        background-color: transparent;
        z-index: -1;
    }

    nav.head {
        text-align: center;
        height: auto;
    }
    .head .logo-section
    {
        margin: 0;
        height: 65px;
    }
    .block
    {
        height: 110px;
    }
    .content
    {
        top: 0;
    }
    .head .hb-button
    {
        padding: 5px 10px;
        margin: 16px;
        z-index: 3000;
    }
}
.image
{
    height: 500px;
    width: 600px;
    background-color: black;
    position: fixed;
    top: -280px;
    left: -400px;
    z-index: 2001;
    border-radius: 0 0 200px 0;
}

.image img
{
    overflow: visible;
    background-color: black;
    position: relative;
    top: 270px;
    left: 380px;
    height: 210px;
    width: 210px;
    border-radius: 0 0 180px 0;
}

/*@media screen and (max-width: 555px)  {
    
    .image
    {
        display: none;
    }
    .image img
    {
        display: none;
    } 

    .logosmall {
        display: inline;
        width: 100%;
        position: relative;
    }

    .logosmall img {
        display: inline;
        background-color: transparent;
    }

    nav.head {
        text-align: center;
        height: auto;
    }
    .head .logo-section
    {
        margin: 0;
        height: 65px;
    }
    .block
    {
        height: 110px;
    }
    .content
    {
        top: 0;
    }
    .head .hb-button
    {
        padding: 5px 10px;
        margin: 16px;
    }

}
*/