p {
     font-family: "Times New Roman", Times, serif;
     font-size: 1.25em;
     color: #f4f1de;

}
h1
{
	
	font-family: "Times New Roman", Times, serif;
	font-size: 2.5em;
	color: #f4f1de;
}
.block2
{
	width:100%;
    position: relative;
    height: 165px;
    z-index: -100;
}