@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#signup-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
#form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #222629;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-color: white;
  border-style: solid;
  border-width: 2px; 
}
#form button:hover,#form button:active,#form button:focus {
  background: white;
  color: #222629;
  border-color: #222629;
}
#form #err {
  background: #f18484;
  margin-top: 15px;
}
#form #err p {
  margin: 15px 0 0;
  color: #534f4f;
  font-size: 14px;
  display: none;
}
#form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
#form .message a {
  color: #222629;
  text-decoration: none;
}
#form .message a:hover
{
  text-decoration: underline;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}