#title
{
  text-align: left;
}
#event-logos
{
  /*background-color: rgb(255, 255, 255);*/
  height: auto;
  width: auto;
  max-width: 250px;
  margin: 25px 0 25px 0;

}
#image
{
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 300px;
  border-radius: 50%;
  /*float: right;*/
  /*position: absolute;*/
}

.old{
  background-color: white;
}

#title
{

/*position: absolute;*/
/*top: 155px;*/
margin-top: 123px;

font-size: 50px;
margin-right: auto;
margin-left: auto;
text-align: center;
}
/*.block1
{
width: 100%;
position: relative;
height: 310px;
}*/
#probState
{
float: right;
/*margin: 20px 70px 20px 70px;*/
margin: 0;
padding: 0;
/* height: 85px; */
margin-top: 20px;
position: relative;
}
.prizesss
{
/*width: 50%;
height: 160px;
float: left;
position: relative;*/
padding: 0;
position: relative;
}
.block2
{
width: 50%;
height: 160px;
float: left;
}

#poc
{
text-align: center;

position: relative;
margin: 35px 0 0 0;
padding: 0;
height: fit-content;

}