.event-name
{
	height: 310px;
	position: relative;
}
a
{
	width: 100%;
	display: block;
	text-align: center;
}
.registered
{
	position: relative;
}
button
{
	display: block;
	


/*margin-left: 80px;*/
/*float: right;*/
/*margin-right: 120px;*/
/*align-content: middle;*/
margin-left: auto;
margin-right: auto;

}
p
{
	margin: 0;
	padding: 0;
}
#delReg
{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
#prizess
{
	text-align: center;
}
@media screen and (max-width: 768px)
{
	#title
	{
		margin: 0;
	}
	.event-name
	{
		height: 55px;
	}
}