.sponsors
{
	height: auto;
	position: relative;
	padding: 10px 0 10px 0;
	border-style: none;
	border-color: #e07a5f;
	border-width: 0 0 2px 0;
	width: 100%;
}

.one
{
	margin: auto;
	width: 200px;
	height: 100%;
	padding: 10px 0 10px 0;
}
.bigger
{
	margin: auto;
	width: 250px;
	height: 100%;
	padding: 10px 0 10px 0;
}
.onee
{
	margin: auto;
	width: 300px;
	height: 100%;
}
.title
{
	margin: auto;
	width: 350px;
	height: 100%;
}
.ones
{
	width: 200px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: middle;
}
.smaller
{
	width: 150px;
}
.oned
{
	width: 300px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: middle;
}
.three
{
	margin: auto;
	height: 100px;
	width: 600px;
	position: relative;
}
.head-s
{
	width: 100%;
	height: 20%;
	padding-bottom: 10px;
}
.sp-image-tl
{
	width: 100%;
	height: auto;
}
.sp-image
{
	width: 200px;
	height: auto;
}
.sp-image-big
{
	width: 250px;
	height: auto;
}
.sp-image-small
{
	width: 150px;
	height: auto;
}
div.one .sp-image-small
{
	margin: 0 25px 0 25px;
}
.sp-image-pop
{
	width: 100px;
	height: auto;
	
}
div.one .sp-image-pop
{
	margin: 0 50px 0 50px;
}

.sp-image-blink
{
	width: 80px;
	height: auto;
	
}
div.one .sp-image-blink
{
	margin: 0 60px 0 60px;
}
p
{
	
	margin: 0;
	padding: 0;
}
.head-s
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #e07a5f;

}
.fp3row
{
	display: none;
}
.mp3row
{
	display: none;
}
.ep3row
{
	display: none;
}
a
{
	height: 0;
	width: 0;
}
table
{
	margin: auto;
	width: 100%;
}
.different
{
	margin: auto;
	width: auto;
}
tr
{
	display: flex;
	align-items: center;
	text-align: center;
}
td
{
	padding: 0 5px 0 5px;
	width: 100%;
}
th
{
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #e07a5f;
	padding-bottom: 10px;
}
.small
{
	display: none;
}

@media screen and (max-width: 960px)
{
	.fp3row
	{
		display: inline;
	}
	.fp1row
	{
		display: none;
	}
	.mp3row
	{
		display: inline;
	}
	.mp1row
	{
		display: none;
	}
	.ep3row
	{
		display: inline;
	}
	.ep1row
	{
		display: none;
	}
	.small
	{
		display: inline;
	}
	.big
	{
		display: none;
	}
}