html {
  background-color: #1f2833; }

body {
  background-color: #1f2833;
  /*background-image: url("../images/background-comp.jpg");*/
  overflow: hidden; }

#particle-js {
  height: auto;
  width: 100%;
  position: absolute;
  top: 0; }

.init {
  position: fixed;
  margin-top: 80px;
  color: #f4f1de;
  font-size: 20px;
  z-index: 1990; }

.init a {
  color: #e07a5f; }

#particles-js {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }

.comingsoon {
  position: fixed;
  margin-top: 30%;
  color: #f4f1de;
  text-align: center;
  width: 100%;
  color: #e07a5f;
  z-index: -3; }

#User {
  text-align: right;
  position: relative;
  z-index: 100; }

p {
  color: #f4f1de;
  font-size: 20px;
  margin: 10px 10px 0px 0px;
  border: #f4e0de;
  border-width: 5px; }
  p a {
    color: #f4f1de;
    text-decoration-style: solid;
    padding: 5px 5px 5px 5px; }

.loading {
  color: #1f2833; }

#eveList {
  padding: 0px 20px 0px 20px; }
  #eveList a {
    color: #1f2833;
    text-decoration-style: solid;
    padding: 5px 5px 5px 5px;
    background: #0bedf5;
    width: fit-content; }

.oneeighty {
  max-width: auto;
  max-height: 180px; }
