body {
  background-color: #3d405b; }

#particle-js {
  height: auto;
  width: 100%; }

.init {
  position: fixed;
  margin-top: 70px;
  color: #f4f1de;
  font-size: 20px; }

.init a {
  color: #e07a5f; }

.comingsoon {
  position: fixed;
  margin-top: 30%;
  color: #f4f1de;
  text-align: center;
  width: 100%;
  color: #e07a5f;
  z-index: -3; }
