body {
  background-color: #001111; }

#particle-js {
  height: auto;
  width: 100%; }

.init {
  position: fixed;
  margin-top: 70px;
  color: #f4f1de; }

.init a {
  color: orange; }

.comingsoon {
  position: fixed;
  margin-top: 30%;
  color: #f4f1de;
  text-align: center;
  width: 100%;
  color: orange;
  z-index: -3; }
