body
{
	overflow: hidden;
}
div#parent
{
	height: 250px;
	margin: auto;
	width: 350px;
	position: relative;
	border-color: white;
	border-width: 0 0 5px 0;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
	
}
div#parent:hover
{
	border-color: orange;
}
img
{
	width: 100%;
	height: 85%;
	top: 0;
	
	
	

}
div:hover
{
		
		cursor: pointer;
}
#text
{
	width: 100%;
	height: 15%;
	top: 85%;
	position: absolute;
	text-align: center;
	/*background-color: #59c4f2;*/
	font-family: Arial;
	font-size: 25px;

}

#text a {
	color: #e07a5f;
	text-decoration: none;
}


