<div>
    <div class="image"><a href="#"><img src="images/tryst_logo.png"></a></div>
        <nav>
            <div class="logo-section">
                <a class="logo" href="#"></a>
                <button class="hb-button"><i class="fa fa-bars"></i></button>
            </div>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="table.html">Sponsors</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </nav>
</div>